@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Irish+Grover&family=Nosifer&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prociono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  font-family: "Inter", serif;
}
.container {
  max-width: 1440px;
  padding: 0 100px;
  margin: 0 auto;
}
header {
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 4px 8.7px 0px #00000040;
}
.header-parent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 50px;
}
.header-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
}
.header-left__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.header-left__a {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  color: #bcaaaa;
}
.header-left__a:hover {
  color: #ef400f;
}
.header-left__nav--shop {
  color: #ef400f;
}
.header-right {
  display: flex;
  gap: 50px;
}
.header-right__button {
  width: 220px;
  height: 65px;
  border-radius: 20px;
  border: 3px solid #ef400f;
  font-size: 24px;
  font-weight: 600;
  color: #ef400f;
  background-color: #00000000;
  cursor: pointer;
}
.header-right__button:hover {
  background-color: #ef400f;
  color: white;
}

main {
  padding-top: 150px;
}
.section-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-top__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 30px;
  font-weight: 600;
  color: #0d0c5c;
}
input {
  width: 385px;
  padding: 20px;
  border-radius: 20px;
  background-color: black;
  font-size: 15px;
  color: white;
}
.section-top__button {
  width: 115px;
  padding: 20px;
  border-radius: 20px;
  font-size: 15px;
  border: none;
  background-color: #0d0d5b;
  color: white;
  cursor: pointer;
}
.section-top__history {
  color: #ef400f;
  font-size: 25px;
  font-weight: 600;
}
.section-top__history--a {
  text-decoration: none;
}

.card-parent {
  margin: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  cursor: pointer;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
  width: 280px;
  height: 280px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 4px 13.3px 0px #00000040;
}
.card__coins {
  display: flex;
  gap: 5px;
}
.card__bottom {
  margin-top: 15px;
  text-align: center;
}
.card p {
  color: #000000ab;
}
.card__bottom--text {
  font-size: 10px;
}
.card--0 {
  color: #00000084;
}

footer {
    background-color: white;
    padding: 20px;
}
.footer-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}
.footer-parent a {
  color: black;
}
